.modal-content {
  border-radius: 4px;
}

.edit-watchlist-modal-container {
  margin: 0px 20px 20px;
  display: flex;
  flex-direction: column;
}

.edit-watchlist-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
