.watchlist-container {
  position: sticky;
  border: 1px solid grey;
  width:fit-content
}


.watchlist-name-sign-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 1px solid grey;
}

.watchlist-name-sign-container button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.add-watchlist-button {
  color: #53cfa2;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.add-watchlist-button:hover {
  font-weight: bold;
}
