.watchlist-details-container {
  display: flex;
  flex-direction: column;
}

.watchlist-details-container > a {
  text-decoration: none;
  display: flex;
  padding: 0 23px;
  align-items: center;
}

.watchlist-line-chart-container  {
  width: 130px;
  height: 100%
}
