/* make sure NavLink's color does not change before and after click */
.watchlist-container a {
  color: inherit;
}

.watchlist-setting-dropdown-container {
  height: 0px;
}

.setting-dropdown {
  position: relative;
  top: -20px;
  left: 120px;
  z-index: 1;
  flex-direction: column;
  background-color: white;
  width: 150px;
  border: 1px solid #CCCCCC;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
}

.hidden {
  display: none;
}

.watchlist-setting-dropdown-row {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}
.watchlist-edit-row,
.watchlist-delete-row {
  height: 30px;
  display: flex;
  align-items: center;
}

.watchlist-edit-row:hover,
.watchlist-delete-row:hover {
  background-color: rgba(242, 242, 242, 1)
}

.watchlist-edit-row i,
.watchlist-delete-row i {
  margin-right: 10px;
  width: 12px;
}

.watchlist-container {
  border: 1px solid #CCCCCC;
  width: 280px;
  height: 100%;
  font-size: 16px;
}

.watchlist-name-add-sign-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px 12px;
}

.watchlist-name-add-sign-container button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.add-watchlist-button {
  color: gray;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.add-watchlist-button:hover {
  background-color: #e0e0e0;
}

.watchlist-add-sign-dropdown-container {
  border-bottom: 1px solid #CCCCCC;
}

.watchlist-add-sign-dropdown-input-container {
  padding: 8px 12px;
  display: flex;
}

.add-watchlist-input {
  width: 80%;
  height: 45px;
  padding-left: 16px;
  background-color: rgb(245,248,250);
  border: 1px white solid;
  margin-left: 12px;
}

.add-watchlist-input:hover {
  background-color: white;
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 5px;
}

.add-watchlist-input:focus {
  background-color: white;
  border: 1px rgb(0,200,5) solid;
  border-radius: 5px;
  outline: none;
}

.watchlist-add-sign-dropdown-buttons-container {
  padding: 0px 12px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-watchlist-cancel-button {
  background-color: white;
  border: 1px solid rgb(0,200,5);
  color: rgb(0,200,5);
}

.add-watchlist-cancel-button:hover {
  background-color: rgb(229,249,230);
}

.add-watchlist-submit-button {
  background-color: rgb(0,200,5);
  border: none;
  color: white;
  margin-left: 8px;
}

.add-watchlist-submit-button:hover {
  background-color: rgb(0,180,5);
}

.add-watchlist-cancel-button,
.add-watchlist-submit-button {
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bolder;
}


.watchlist-list-name-setting-expand-icon-container {
  display: flex;
  flex-direction: column;
}
.watchlist-list-name-setting-expand-icon-container:hover {
  background-color: rgba(242, 242, 242, 1)
}

.watchlist-list-name-setting-expand-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.watchlist-icon-name-container {
  display: flex;
  align-items: center;
}

.light-bulb-icon-container {
  background-color: rgb(245, 248, 250);
  width: 35px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-bulb-icon {
  width: 80%;
  height: 50%;
}

.watchlist-list-name {
  text-decoration: none;
  margin-left: 8px;
}

.watchlist-setting-dropdown-icons {
  display: flex;
  justify-content: space-around;
  width: 60px;
  color: gray;
}

.setting-dropdown button {
  text-decoration: underline;
  background: none;
  border: none;
  font-size: 14px
}

.watchlist-stock-details-container {
  padding: 0 12px
}
