.watchlist-details-individual-container {
  display: flex;
  flex-direction: column;
}

.watchlist-details-individual-container:hover {
  background-color: rgba(242, 242, 242, 1)
}
.watchlist-details-individual-container > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
}

.watchlist-details-ticker {
  font-weight: bold;
}

.watchlist-line-chart-container  {
  width: 100px;
  height: 50px;
}

.green {
  color: #5AC53B;
}

.red {
  color: #c53b3b;
}
