.watchlist-details-container {
  display: flex;
  flex-direction: column;
}

.watchlist-details-container > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}


.watchlist-line-chart-container  {
  width: 100px;
  height: 50px;
}

.green {
  color: #5AC53B;
}

.red {
  color: #c53b3b;
}
