.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 0px;
}

.navlogo {
  width: 25px;
  margin-left: 0.5rem
}

.navigation-logo {
  display: flex;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1.5rem;
  /* margin-top: 18px; */
}

.navigation-container>a>img:hover {
  filter: invert(43%) sepia(97%) saturate(1515%) hue-rotate(88deg) brightness(104%) contrast(106%);
}

.navigation-search-bar-inputs {
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-icon {
  color: rgb(156, 156, 156);
  margin-left: 15px;
}

.navigation-search-bar-inputs {
  position: absolute;
  top: 40px;
  left: 150px;
}

.navigation-search-bar-inputs >input {
  background-color: white;
  border: none;
  font-size: 14px;
  width: 300px;
  height: 25px;
  margin-left: 4px;

}

.navigation-search-bar-inputs >input:focus {
  outline: none;
}

.navigation-search-bar-results {
  margin-top: 5px;
  width: 340px;
  height: 110px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 150px;
}

/* disable scrollbar */
.navigation-search-bar-results::-webkit-scrollbar {
  display: none;
}

.navigation-search-bar-results-items {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.navigation-search-bar-results> a {
  color: inherit;
  text-decoration: none;
}

.navigation-search-bar-results> a:hover {
  background-color: rgb(221, 221, 221);
}

.navigation-search-bar-results-items-ticker {
  margin-left: 20px;
}

.navigation-right-container {
  display: flex;
}

.navigation-right-container-logged-in button {
  background: none;
  border:none;
  font-weight: bold;
  font-size: 15px;
  padding-right: 25px;
}

.navigation-right-container-logged-in button:hover {
  color: #00c805;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 10pt;
  font-weight: bold;
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 10pt;
  font-weight: bold;
}

.investing-button {
  background: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding-right: 25px;
}

.navigation-right-container-logged-in > a {
  color:inherit
}

.investing-button:hover {
  color: #00c805;
}

.account-button {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
  padding-right: 40px;
}

.account-button:hover {
  color: #00c805;
}

.profile-dropdown {
  position: absolute;
  width: 150px;
  top: 70px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px -12px 24px 0px, rgba(0, 0, 0, 0.06) 0px 12px 24px 0px;
  border: solid 1px rgb(227, 233, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: white;
}

.account-dropdown-inner-container {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.username-row {
  border-bottom: solid 1px grey;
}

.logout-button {
  background: none;
  border: none;
  font-size: 15px;
}
