.signup-page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.signup-left-container {
  background-color: rgb(130, 200, 210);
  width: 50%;
  height:100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
}

.sign-up-sitename {
  font-size: 30px;
}
.sign-up-sitename img {
  margin-left: 10px;
}

.signup-title {
  font-size: 64px;
  margin: 100px 0px;
}

.signup-message {
  margin: 20px 0px;
  font-size: 18px;
}

.signup-pic {
  object-fit: cover;
  width: 100%;
}

.signup-right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 160px 80px 0px 80px;
}

.signup-right-title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 50px;
}

.signup-error-messages-container>li {
  width: 400px;
  color: #c53b3b;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-form>label {
  display: flex;
  flex-direction: column;
}

.signup-form>label>input {
  width: 100%;
  border: none;
  height: 30px;
  background-color: rgb(232, 240, 254);
  border-radius: 5px;
  margin-top: 15px;
}

.signup-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 10pt;
  font-weight: bold;
}

.signup-redirect-to-login-container {
  margin-top: 20px;
}

.signup-redirect-to-login-container>a {
  color: inherit;
  font-weight: bold;
}
